footer {
    font-size: medium;
    margin-top: 0px;
    clear: both;
    width: 90%;
    /* margin: 0 5%; */
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 0px;
    text-align: left;
}

footer p {
    margin: 20px 0 30px 0;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}

footer p a {
    /* display: inline-block; */
    float: right;
    color: #151515;
    /* border-bottom: 1px solid #000; */
    padding-bottom: 1px;
    margin-left: 20px;
}