nav {
    border-bottom: 1px solid #ccc;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    font-size: large;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 5%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: left;
}